<form>
  <div class="container">
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" [ngModelOptions]="{standalone: true}"
        (dateInput)="addEvent('input', $event)" [(ngModel)]="date" (focusout)="getInput($event)"
        placeholder="MM-DD-YYYY" (dateChange)="addEvent('input', $event)" required>
      <mat-datepicker-toggle matSuffix [for]='picker'></mat-datepicker-toggle>
      <mat-datepicker touchUi startView="multi-year" #picker></mat-datepicker>
    </mat-form-field>
  </div>
</form>




<div class="events">
  <h2>{{newDate}}</h2>
  <h2>{{currentDate}}</h2>
</div>