<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Select Date</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="navigate()" color="light" fill="outline">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion">

        <app-date [endDate]="endDate" (sendDate)="endDate = $event" [startDate]="startDate"
          (emitDate)="startDate=$event"></app-date>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>