<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Select Date</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion">
        <app-date-picker [endDate]="endDate" (sendDate)="endDate = $event" [startDate]="startDate"
          [startHeader]="startHeader" [endHeader]="endHeader" (emitDate)="startDate=$event"></app-date-picker>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>